body { 
    background:  rgd(134, 229,233);
    color;  rosa;
}
h1{ 
color:blue;
font-family: 'lucida Sans', 'lucida Sang'Regul
}
button{
  justify-content: conter;
  width: 100px;
  height: 100px;
  color: color red;
  background-color: chartreuse;
  





}